.about {
    position: relative;
    grid-column: 1 / -1;
    border-top: 1px solid #1a1a1a10;
    padding: 20rem 3rem 10rem 3rem;

    &__logo {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25vw;
        font-weight: bolder;
        text-align: center;
        color: #1a1a1a10;
    }

    &__detail {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        align-items: center;
        justify-items: center;
        gap: 3rem;
        color: #001d38ad;
        margin-top: 8rem;

    }

    &__text {
        max-width: 90%;
        font-size: 1.7rem;
        line-height: 2.5rem;
        padding: 5rem 2rem;
        box-shadow: $container-shadow;

        &--heading {
            line-height: 40px;
            font-size: 5rem;
            margin-bottom: 3rem;
            color: #080616;

        }
    }

    &__pic {
        max-width: 90%;
        z-index: 10;
        box-shadow: $container-shadow;

        img {
            width: 100%;
        }
    }
}