@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    50% {
        opacity: 1;
        transform: translate(0);
        transform: translate(0);
    }

    100% {
        opacity: 0;
    }
}

@keyframes moveleft {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes flash {
    0% {
        top: -25%;
        left: -26%;
    }

    100% {
        top: -25%;
        left: 110%;
    }
}




@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    80% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    90% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes shake-vertical {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}