@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600&family=Voces&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Muli', sans-serif;
}

.header {
  background-image: linear-gradient(to top left, #a651e9, #4d39d3);
  height: 100rem;
  width: 100%;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 95%);
}

.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  width: 100%;
  height: 7rem;
  padding: 0 2rem;
}

.nav-logo {
  font-size: 3rem;
  font-weight: bold;
}

.nav-links {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #f5fff9;
  padding: 5px;
  border-radius: 1rem;
}

.nav-link:hover {
  border: 1px solid #a341ee;
}

.nav-btn {
  font-size: 1.5rem;
  height: 4.5rem;
  width: 12rem;
  border: none;
  padding: 1rem;
  color: #f5fff9;
  cursor: pointer;
  background-color: #d465ef;
  translate: all 1s;
}

.nav-btn:hover {
  transform: translateY(-3px);
  box-shadow: 1px 5px 1rem rgba(0, 0, 0, 0.6);
}

.header__img--con {
  position: relative;
  top: 14%;
  height: 90rem;
  width: 80rem;
  background-image: linear-gradient(to top left, #a751e94a, #4d39d35d),
    url(./img/Title_adobe_express_22.png);
  background-position: center;
  clip-path: circle(53% at 40% 55%);
}

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.design__circle-div1{
  position: absolute;
  bottom: 20%;
  right: 20%;
  width: 15rem;
  height: 15rem;
  background-image: linear-gradient(to bottom right, #4d39d3b9, #bc7aee34);
  border-radius: 50%;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.6);
  animation: moveleft 3s ease-out;

}

.design__circle-div2{
  position: absolute;
  right: 0;
  width: 40rem;
  height: 40rem;
  background-image: linear-gradient(to bottom right, #4d39d3b9, #a751e9c9);
  border-radius: 50%;
  animation: movedown 3s ease-out;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.6);
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveleft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.heading-primary__main {
  display: block;
  font-size: 9rem;
  font-weight: 600;
  width: 110rem;
  word-spacing: -10px;
  animation: moveleft 1s ease-out;
}

.heading-primary__sub {
  display: block;
  font-size: 3rem;
  text-align: center;
  animation: movedown 1s ease-out;
}

.media-contact {
  position: absolute;
  top: 35%;
  right: 6%;
}

.media-contact__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15rem;
}

.home-media--contact__icon {
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #a751e99f;
  text-align: center;
}

i:hover {
  background-image: linear-gradient(#4d39d3, #a651e9);
}

main {
  position: relative;
}

/* The Main Body */
.section-service {
  position: relative;
  height: 87rem;
  width: 100%;
  margin-top: -5%;
  color: #001d38;
}

.section-service__head {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.service-head__vertical--line {
  position: relative;
  top: 0;
  left: 50%;
  height: 7rem;
  width: 1rem;

  margin-bottom: 1rem;
  border-left: 1px solid #4d39d3;
}

.service-heading__sub {
  display: block;
  font-size: 1.4rem;
  font-weight: 90;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.service-heading__main {
  font-size: 5rem;
  font-weight: bold;
  display: block;
}

.services {
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding: 0 6rem;
  width: 100%;
  bottom: 12%;
  color: #2c2c2c;
}

.service {
  position: relative;
  height: 30rem;
  width: 35rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 100;
  padding-top: 5rem;
  border: 1px solid #4d39d35e;
}

.service:hover {
  background-color: #001d38d0;
  color: #f5fff9;
}

.service-writeup {
  position: relative;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.section-portfolio {
  height: 70rem;
  width: 100%;
  background-color: #001d38;
}

.portfolio-head {
  height: 35rem;
  width: 100%;
  padding-top: 12rem;
  text-align: center;
}

.portfolio-head__main {
  text-transform: uppercase;
  display: block;
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 3px;
}

.portfolio-head__sub {
  display: block;
  font-size: 5rem;
  line-height: 1.5;
}


.portfolio-content__project {
  display: block;
  height: 35%;
  width: 35%;
  padding: 1rem;
}

.first2-image{
  position: relative;
  display: flex;
}

.second2-image{
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.section-about {
  margin-top: 15rem;
  margin-bottom: 20rem;
  height: 65rem;
  position: relative;

  /* background-color: #4d39d3; */
}

.about__logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30rem;
  font-weight: bolder;
  text-align: center;
  color: #1a1a1a10;
}

.about {
  position: relative;
  top: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* background-color: #000000; */
}

.about__details {
  color: #001d38ad;
  width: 50rem;
  font-size: 1.5rem;
  font-weight: 100;
}

.about__label{
  color: #001d38;
  font-size: 5rem;
  margin: 3rem;
}

.pic--con {
  height: 50rem;
  align-items: center;
  background-color: #000000;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
}

.about__pic {
  height: 100%;
}

.testimonies{
  height: 40rem;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to top right, #070c1288, #052a4f73 ), url(./img/blocks-TkEPQPWr2sY-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.testimony-label{
  font-size: 2rem;
  font-weight: 100;
}

.testimony-details{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimony{
  text-align: center;
  height: 25rem;
  width: 55rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgba(0, 0, 0, 0.1);
}

footer{
  height: 75rem;
  width: 100%;
  background-color: #001d38;

}

.conclusion{
  position: relative;
  padding-top: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 57rem;
  width: 85%;
  border-bottom: 1px solid #dcdbdf2c;

}

.conclusion__main{
  display: block;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
  
}

.conclusion__sub{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: block;
  font-size: 1.5rem;
  width: 50rem;
  text-align: center;

}

.footer__nav-links{
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 16%;
  width: 22rem;
}

.footer__nav-item{
  list-style: none;
}

.footer__nav-link{
  text-decoration: none;
  color: #f5fff9;
  padding: 5px;
  font-size: 1.5rem;
}


.footer__media-contact{
 
  position: absolute;
  right: 0;
  bottom: 16%;

}

.footer__media-contact__icons{
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.footer__media--contact__icon{
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #dcdbdf2c;
  text-align: center;
}

.contacts{
  display: flex;
  justify-content: space-between;
  position: absolute;
  font-size: 1.2rem;  
  width: 30rem;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  color: rgb(168, 168, 168);
}